.about-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-header {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
}
.about-max-width {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-pink);
}
.about-image {
  margin-left: var(--dl-space-space-twounits);
}
.about-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-navlink {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.about-navlink:hover {
  color: var(--dl-color-scheme-pink);
}
.about-link {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.about-link:hover {
  color: var(--dl-color-scheme-pink);
}
.about-navlink1 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.about-navlink1:hover {
  color: var(--dl-color-scheme-pink);
}
.about-register {
  color: var(--dl-color-scheme-darkblue);
  margin-left: 41px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-white);
}
.about-register:hover {
  color: var(--dl-color-scheme-white);
  background-color: var(--dl-color-scheme-pink);
}
.about-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-hero {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 92px;
  flex-direction: row;
  justify-content: space-between;
}
.about-container1 {
  width: 681px;
  height: 1064px;
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-text {
  color: var(--dl-color-scheme-pink);
  font-size: 3rem;
  max-width: 450px;
  font-style: normal;
}
.about-text01 {
  margin-top: var(--dl-space-space-twounits);
  font-family: Arial;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-text08 {
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-family: Arial;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-image1 {
  width: 523px;
  margin-top: var(--dl-space-space-fiveunits);
  object-fit: cover;
  margin-bottom: 151px;
}
.about-footer {
  background-color: var(--dl-color-scheme-darkblue);
}
.about-max-width1 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-darkblue);
}
.about-bottom-container {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.about-left-side {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text13 {
  color: var(--dl-color-scheme-white);
  max-width: 350px;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
  text-transform: none;
}
.about-social-media {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-social-media1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text22 {
  color: var(--dl-color-scheme-pink);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.about-link01 {
  display: contents;
}
.about-icon {
  fill: var(--dl-color-scheme-white80);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.about-link02 {
  display: contents;
}
.about-icon02 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-icon02:hover {
  fill: var(--dl-color-scheme-pink);
  cursor: pointer;
}
.about-link03 {
  display: contents;
}
.about-icon06 {
  fill: var(--dl-color-scheme-white80);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.about-link04 {
  display: contents;
}
.about-icon08 {
  fill: var(--dl-color-scheme-white80);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}

.about-links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.about-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text23 {
  color: var(--dl-color-scheme-pink);
  cursor: default;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-navlink2 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.about-link05 {
  padding-bottom: Space-OneAndHalfUnits;
  text-decoration: none;
}
.about-link06 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.about-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text28 {
  color: var(--dl-color-scheme-pink);
  cursor: default;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-link07 {
  text-decoration: none;
}
.about-link08 {
  text-decoration: none;
}
.about-link09 {
  text-decoration: none;
}
.about-link10 {
  margin-bottom: 0px;
  text-decoration: none;
}
.about-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.about-text33 {
  color: var(--dl-color-scheme-white80);
  font-size: 14px;
  text-transform: none;
}
.about-text37 {
  text-decoration: underline;
}
.about-link11 {
  text-decoration: underline;
}
@media(max-width: 1200px) {
  .about-image {
    width: 100px;
    height: 100px;
    padding-bottom: 0px;
  }
  .about-link {
    color: var(--dl-color-scheme-white);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
  }
  .about-navlink1 {
    color: var(--dl-color-scheme-white);
    font-size: 16px;
    font-style: normal;
    font-family: IBM Plex Sans Condensed;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
  }
  .about-main {
    height: 1835px;
  }
  .about-hero {
    width: 100%;
    height: 922px;
    margin-top: 380px;
    margin-bottom: 551px;
  }
  .about-container1 {
    height: 1140px;
  }
  .about-text {
    font-size: 3rem;
    font-family: IBM Plex Sans Condensed;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: none;
  }
  .about-text05 {
    font-size: 64px;
    font-family: IBM Plex Sans Condensed;
    font-weight: 700;
    line-height: 1.1;
  }
  .about-footer {
    height: 740px;
    margin-top: 0px;
  }
  .about-text13 {
    color: var(--dl-color-scheme-white);
    text-transform: none;
  }
  .about-icon {
    fill: var(--dl-color-scheme-white);
    margin-right: var(--dl-space-space-twounits);
  }
  .about-icon06 {
    fill: var(--dl-color-scheme-white);
    margin-right: var(--dl-space-space-twounits);
  }
  .about-icon08 {
    fill: var(--dl-color-scheme-white);
  }
  .about-navlink2 {
    text-decoration: none;
  }
  .about-link05 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    text-decoration: none;
  }
  .about-link07 {
    text-decoration: none;
  }
  .about-text33 {
    color: var(--dl-color-scheme-white80);
    font-size: 14px;
    text-transform: none;
  }
  .about-text37 {
    text-decoration: underline;
  }
  .about-link11 {
    text-decoration: inherit;
  }
}
@media(max-width: 991px) {
  .about-hero {
    flex-direction: column;
  }
  .about-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .about-text {
    text-align: center;
  }
  .about-text01 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .about-text08 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .about-text09 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .about-bottom-container {
    flex-direction: column-reverse;
  }
  .about-left-side {
    width: 100%;
  }
  .about-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .about-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .about-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-text08 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-image1 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .about-hero {
    height: fit-content;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-container1 {
    width: 452px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text05 {
    height: 147px;
    margin-left: auto;
    align-content: center;
  }
  .about-image1 {
    align-self: auto;
  }
  .about-links {
    flex-wrap: wrap;
  }
  .about-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-container4 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
